<div>
  <nav class="navbar navbar-dark bg-faded justify-content-between">
    <a class="navbar-brand">PDF Loader</a>
    <form class="form-inline">
      <%= link_to "New File", "/new", class: "btn btn-outline-success" %>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
          <%= @user.first_name %> <%= @user.last_name %>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </form>
  </nav>
  <div>
    <% if !flash[:notice].blank? %>
      <div class = "alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <br />
    <table class = "table table-bordered table-striped">
      <thead>.
      <tr>
        <th>Name</th>
        <th>Download Link</th>
        <th> </th>
      </tr>
      </thead>

      <tbody>
      <% @attached_files.each do |attached_file| %>

        <tr>
          <td><%= attached_file.name %></td>
          <td><%= link_to "Download File", attached_file.attachment_url %></td>
          <td><%= button_to "Delete", main_path(attached_file), method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{attached_file.name}?" %></td>
        </tr>

      <% end %>
      </tbody>

    </table>
  </div>
</div>