<div class="content" id="login">
  <div class="form-group">
      <h1>Log in</h1>
      <%= form_for(:session, url: login_path) do |f| %>
        <% if flash[:error] -%>
          <div class="alert alert-danger" role="alert">
            <p class="error"><%= flash[:error] %></p>
          </div>
        <% end -%>
        <%= f.email_field :email, :placeholder => "Email", class: 'form-control'%>
        <%= f.password_field :password, :placeholder => "Password", class: 'form-control'%>
        <div class="buttons">
          <%= f.submit "Log in", class: "btn btn-primary" %>
          <a href="/signup">Sign up</a>
        </div>
      <% end %>
  </div>
</div>