<div class="content" id="signup">
  <div class="form-group">
        <h1>Sign up</h1>
        <%= form_for(@user) do |f| %>
          <% if flash[:error] -%>
            <div class="alert alert-danger" role="alert">
              <p class="error"><%= flash[:error] %></p>
            </div>
          <% end -%>
          <%= f.text_field :first_name, :placeholder => "First name", class: 'form-control'%>
          <%= f.text_field :last_name, :placeholder => "Last name", class: 'form-control' %>
          <%= f.email_field :email, :placeholder => "Email", class: 'form-control'%>
          <%= f.password_field :password, :placeholder => "Password", class: 'form-control'%>
          <%= f.password_field :password_confirmation, :placeholder => "Confirm password", class: 'form-control'%>
          <div class="buttons">
            <%= f.submit "Create an account", class: "btn btn-primary" %>
            <a href="/login">Login</a>
          </div>
        <% end %>
  </div>
</div>