// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
  form {
    > .btn {
      margin-right: 10px;
    }
  }
}